<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% include page/banner.html %}

    <div class="vpad--xxl">
      <div class="container">
        <div class="width width--lg text--center text--xxl">
          <p>{{site.description}}</p>
        </div>
      </div>
    </div>

    <div class="content-spacing section-spacing">

      <!-- loops through section file for page content -->
      {% for section in site.data.sections %}
        <div id="{{section.id}}" class="js-nav-section vpad--xxxxl bg__fixed">
          <div class="bg__fixed-wrap">
            <div class="bg__fixed-img" style="background-image: url('{{site.img}}/content/{{section.id}}/bg.jpg');"></div>
          </div>
          <div class="container">

            <div class="row row--valign-center row--gutters-lg row--xxl-6-6">
              <div class="col">
                <div class="title title--xxl">{{section.title}}</div>
                <p class="text--xxl">{{section.description}}</p>
              </div>
              <div class="col">
                <div class="bg-img bg-img--1-1 bg-img--md-3-2 bg-img--xxl-1-1" style="background-image: url('{{site.img}}/content/{{section.id}}/feature.jpg');"></div>
              </div>
            </div>

            <div class="space--lg"></div>

            <div class="row row--md-6-6 row--xxl-3-3-3-3">
              {% for poi in section.pois.items %}
              <div class="col">
                <div class="bg-img bg-img--16-9 bg-img--md-1-1 bg-img--lg-4-3 bg-img--xxl-2-3" style="background-image: url('{{site.img}}/content/{{section.id}}/pois/{{poi.id}}.jpg');">
                  <a id="tracking-poi-{{poi.id}}" href="#" class="bg-img__link js-open-modal" data-open-modal="{{poi.id}}"></a>
                  <div class="bg-img__bg-overlay"></div>
                  <div class="bg-img__content">
                    <div class="sub-title">{{poi.title}}</div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>

          </div>
        </div>
      {% endfor %}

      <!-- qatar section -->
      <div id="flights" class="qatar js-nav-section">
        <div class="qatar__top">
          <div class="container">
            <div class="qatar__top-content">
              <div class="width--xs">
                <img src="{{site.img}}/logo/qatar.svg" alt="{{site.client.name}} Logo">
              </div>
              <div class="space--md"></div>
              <h3 class="qatar-title qatar-title--lg">Fly with Qatar Airways to Penang</h3>
              <div class="space--xs"></div>
              <h4 class="qatar-sub-title width--qatar">Experience the skies like never before by travelling with Qatar Airways to Penang.</h4>
              <div class="space--xs"></div>
              <p class="text--xxl text--normal width--qatar">Known for its award-winning service, Qatar Airways offers a range of cabins- from Economy to Business and First Class- and flies from a number of airports across the UK, including Heathrow, Gatwick, Cardiff, Birmingham, Manchester and Edinburgh.</p>
              <div class="space--md"></div>
              <a href="https://www.qatarairways.com/en-gb/homepage.html?cid=BAGB666480" class="btn btn--lg btn--white">See Flights</a>
            </div>
          </div>
          <div class="qatar__top-wave"></div>
        </div>
        <div class="qatar__bottom">
          <div class="container vpad--xl">
            {% for feature in page.qatar.features %}
              <div class="bob{% cycle '', ' bob--swap' %}">
                <div class="bob__img">
                  <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/flights/{{feature.id}}.jpg');">
                    <a class="bg-img__link" href="{{feature.link}}"></a>
                  </div>
                </div>
                <div class="bob__text">
                  <h2 class="qatar-title">{{feature.title}}</h2>
                  <p class="text--lg">{{feature.description}}</p>
                  <div class="space--md"></div>
                  <a href="{{feature.link}}" class="btn btn--sm btn--outline btn--outline-purple">Find Out More</a>
                </div>
              </div>
            {% endfor %}
            <div class="space--xxl text--center">
              <a href="https://www.qatarairways.com/en-gb/homepage.html?cid=BAGB666480" class="btn btn--lg btn--purple">See Flights</a>
            </div>
          </div>
          <div class="qatar__bottom-wave"></div>
        </div>
      </div>

    </div>

    {% include page/footer.html %}

    {% include modal/sections.html %}

  </body>

</html>